/* styles.css */

/* Basic styling */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	user-select: none;
	height: 80vh;
	width: 80vh;
}

.container {
	max-width: 600px;
	margin: 20px auto;
	background-color: maroon;
	position: relative;
	width: 100%;
	padding-top: 100%;
	/* 1:1 Aspect Ratio */
	/* background-color: #fff; */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 100%;
}

.container-heading {
	max-width: auto;
	margin: 1px auto;
	background-color: maroon;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* height: auto; */
	/* max-height: fit-content; */
	max-height: fit-content;

}

img {
	max-width: 100%;
	height: auto;

}

center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	/* or any other percentage */
}

button {
	display: block;
	background-color: maroon;
	color: white;
	width: 100%;
	/* Earlier 100% */
	height: 50px;
	/* Earlier 50% */
	font-size: 24px;
	border-radius: 40px;
	border: none;
	text-align: center;
	font-weight: bold;

	/**
    padding: 10px 20px;
    font-size: 26px;
    background-color: #007bff;  /* #722F37; green; #e19510; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
	border-width: 80%;
	width: width:200px;
	height: 50px;
	display: block;
	white-space: normal;
 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  display: table-cell;  
 /* vertical-align: middle; margin: 4px 2px; */
}

button:hover {
	background-color: #e19510;
}

h1 {
	font-size: 28px;
	text-align: center;
	width: 100%;
	font-weight: bold;
	background-color: maroon;
	color: white;
}

.chapter-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	background-color: bisque;
	padding: 20px;

}

.chapter-content {
	max-width: 100%;
	overflow-y: auto;
	max-height: 1250px;
	/* 750px; */
	/* max-height: fit-content;	*/
	/* 600px;  Adjust as needed  work on this point*/
	background-color: bisque;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	user-select: none;
	/* min-height: 80vh; */
       /* width: 80vh;  */
}


/* Responsive design */
@media screen and (max-width: 600px) {
	.container {
		padding: 10px;
	}
}

/* Footer styles */
footer {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #666;
}

.container-home {
	max-width: 600px;
	margin: 10px auto;
	background-color: maroon;
	/* background-color: #fff; */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Social Media */

.social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
	padding: 0;
}

.social-icons li {
	display: inline-block;
}

.social-icons a {
	text-decoration: none;
	color: inherit;
}

.social-icons img {
	width: 40px;
	height: 40px;
}

/* Annual Event */

.chapter-table {
	max-width: 100%;
	overflow-y: auto;
	max-height: 750px;
	background-color: bisque;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	user-select: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid bisque;
	font-weight: bold;
}

th,
td {
	text-align: left;
	padding: 8px;
	border: 1px solid orange;
	/* #ddd */
}

th {
	text-align: left;
	padding: 8px;
	border: 1px solid orange;
	background-color: orange;
	/* tr:nth-child(even){background-color: #orange} */
	/* tr:hover {background-color: coral;} */
